
.cont {
    height: 100vh;
    overflow: auto;
}

.welcome{
    padding: 30px;
}
 .principal {
    background-color: #F6F6F6;
    padding:0 30px;

}
.color{
    background-color: aqua;
}

.itemMenu{
    padding:30px 0;
}


.margin{
    margin-top: 120px;
}

.padding{
    padding-top: 100px;
}


.social-media-margin{
    margin-bottom: 15%;
}

ul {
    list-style-type: none;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #EA1171;
    border: none;
}
 a{
    color: #EA1171 !important;
    }



.font-light{
font-family: Montserrat;
font-weight: 200;
}
.font-normal{
font-family: Montserrat;
font-weight: 500;
}
.font-bold{
font-family: Montserrat;
font-weight: 700;
}

.font-subtitle{
color: #ABABAB;
font-family: Montserrat;
font-weight: 500;

}

.margin-top-20{
margin-top: 20px;
}

.button-color{
    background-color:#EA1171;
}

